<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de tarefas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="lista.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app-6">
        <p>{{ message }}</p>
        <input id="posta" v-model="message">
        <button v-on:click="Adicionar()">Adicionar</button>
        <div>
            <li  v-for="item in lista">
                <input type="checkbox">
                <p>{{item.texto}}</p>
                <button>Eliminar</button>
            </li>
        </div>
    </div>

</body>
<script src="lista.js"></script>

</html>